// Code generated by Microsoft (R) AutoRest Code Generator (autorest: 3.10.8, generator: @autorest/powershell@4.0.749)
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

namespace OneFunction
{
    using static OneFunction.Runtime.Extensions;

    /// <summary>
    /// Low-level API implementation for the One Function API service.
    /// Simple greeting endpoint implemented as an Azure Function.
    /// </summary>
    public partial class OneFunctionApi
    {

        /// <summary>Returns a greeting.</summary>
        /// <param name="name">Name to include in the greeting message.</param>
        /// <param name="onOk">a delegate that is called when the remote service returns 200 (OK).</param>
        /// <param name="eventListener">an <see cref="OneFunction.Runtime.IEventListener" /> instance that will receive events.</param>
        /// <param name="sender">an instance of an OneFunction.Runtime.ISendAsync pipeline to use to make the request.</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the response is completed.
        /// </returns>
        public async global::System.Threading.Tasks.Task OneGetGreeting(string name, global::System.Func<global::System.Net.Http.HttpResponseMessage, global::System.Threading.Tasks.Task<OneFunction.Models.IPathsPu2Mf5ApiOneGetResponses200ContentApplicationJsonSchema>, global::System.Threading.Tasks.Task> onOk, OneFunction.Runtime.IEventListener eventListener, OneFunction.Runtime.ISendAsync sender)
        {
            // Constant Parameters
            using( NoSynchronizationContext )
            {
                // construct URL
                var pathAndQuery = global::System.Text.RegularExpressions.Regex.Replace(
                        "/api/One"
                        + "?"
                        + (string.IsNullOrEmpty(name) ? global::System.String.Empty : "name=" + global::System.Uri.EscapeDataString(name))
                        ,"\\?&*$|&*$|(\\?)&+|(&)&+","$1$2");

                await eventListener.Signal(OneFunction.Runtime.Events.URLCreated, pathAndQuery); if( eventListener.Token.IsCancellationRequested ) { return; }

                // generate request object
                var _url = new global::System.Uri($"https://ayanm.azurewebsites.net{pathAndQuery}");
                var request =  new global::System.Net.Http.HttpRequestMessage(OneFunction.Runtime.Method.Get, _url);
                await eventListener.Signal(OneFunction.Runtime.Events.RequestCreated, request.RequestUri.PathAndQuery); if( eventListener.Token.IsCancellationRequested ) { return; }

                await eventListener.Signal(OneFunction.Runtime.Events.HeaderParametersAdded); if( eventListener.Token.IsCancellationRequested ) { return; }
                // make the call
                await this.OneGetGreeting_Call (request, onOk,eventListener,sender);
            }
        }

        /// <summary>Returns a greeting.</summary>
        /// <param name="viaIdentity"></param>
        /// <param name="name">Name to include in the greeting message.</param>
        /// <param name="onOk">a delegate that is called when the remote service returns 200 (OK).</param>
        /// <param name="eventListener">an <see cref="OneFunction.Runtime.IEventListener" /> instance that will receive events.</param>
        /// <param name="sender">an instance of an OneFunction.Runtime.ISendAsync pipeline to use to make the request.</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the response is completed.
        /// </returns>
        public async global::System.Threading.Tasks.Task OneGetGreetingViaIdentity(global::System.String viaIdentity, string name, global::System.Func<global::System.Net.Http.HttpResponseMessage, global::System.Threading.Tasks.Task<OneFunction.Models.IPathsPu2Mf5ApiOneGetResponses200ContentApplicationJsonSchema>, global::System.Threading.Tasks.Task> onOk, OneFunction.Runtime.IEventListener eventListener, OneFunction.Runtime.ISendAsync sender)
        {
            // Constant Parameters
            using( NoSynchronizationContext )
            {
                // verify that Identity format is an exact match for uri

                var _match = new global::System.Text.RegularExpressions.Regex("^/api/One$", global::System.Text.RegularExpressions.RegexOptions.IgnoreCase).Match(viaIdentity);
                if (!_match.Success)
                {
                    throw new global::System.Exception("Invalid identity for URI '/api/One'");
                }

                // replace URI parameters with values from identity
                // construct URL
                var pathAndQuery = global::System.Text.RegularExpressions.Regex.Replace(
                        "/api/One"
                        + "?"
                        + (string.IsNullOrEmpty(name) ? global::System.String.Empty : "name=" + global::System.Uri.EscapeDataString(name))
                        ,"\\?&*$|&*$|(\\?)&+|(&)&+","$1$2");

                await eventListener.Signal(OneFunction.Runtime.Events.URLCreated, pathAndQuery); if( eventListener.Token.IsCancellationRequested ) { return; }

                // generate request object
                var _url = new global::System.Uri($"https://ayanm.azurewebsites.net{pathAndQuery}");
                var request =  new global::System.Net.Http.HttpRequestMessage(OneFunction.Runtime.Method.Get, _url);
                await eventListener.Signal(OneFunction.Runtime.Events.RequestCreated, request.RequestUri.PathAndQuery); if( eventListener.Token.IsCancellationRequested ) { return; }

                await eventListener.Signal(OneFunction.Runtime.Events.HeaderParametersAdded); if( eventListener.Token.IsCancellationRequested ) { return; }
                // make the call
                await this.OneGetGreeting_Call (request, onOk,eventListener,sender);
            }
        }

        /// <summary>Returns a greeting.</summary>
        /// <param name="viaIdentity"></param>
        /// <param name="name">Name to include in the greeting message.</param>
        /// <param name="eventListener">an <see cref="OneFunction.Runtime.IEventListener" /> instance that will receive events.</param>
        /// <param name="sender">an instance of an OneFunction.Runtime.ISendAsync pipeline to use to make the request.</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task<OneFunction.Models.IPathsPu2Mf5ApiOneGetResponses200ContentApplicationJsonSchema>"
        /// /> that will be complete when handling of the response is completed.
        /// </returns>
        public async global::System.Threading.Tasks.Task<OneFunction.Models.IPathsPu2Mf5ApiOneGetResponses200ContentApplicationJsonSchema> OneGetGreetingViaIdentityWithResult(global::System.String viaIdentity, string name, OneFunction.Runtime.IEventListener eventListener, OneFunction.Runtime.ISendAsync sender)
        {
            // Constant Parameters
            using( NoSynchronizationContext )
            {
                // verify that Identity format is an exact match for uri

                var _match = new global::System.Text.RegularExpressions.Regex("^/api/One$", global::System.Text.RegularExpressions.RegexOptions.IgnoreCase).Match(viaIdentity);
                if (!_match.Success)
                {
                    throw new global::System.Exception("Invalid identity for URI '/api/One'");
                }

                // replace URI parameters with values from identity
                // construct URL
                var pathAndQuery = global::System.Text.RegularExpressions.Regex.Replace(
                        "/api/One"
                        + "?"
                        + (string.IsNullOrEmpty(name) ? global::System.String.Empty : "name=" + global::System.Uri.EscapeDataString(name))
                        ,"\\?&*$|&*$|(\\?)&+|(&)&+","$1$2");

                await eventListener.Signal(OneFunction.Runtime.Events.URLCreated, pathAndQuery); if( eventListener.Token.IsCancellationRequested ) { return null; }

                // generate request object
                var _url = new global::System.Uri($"https://ayanm.azurewebsites.net{pathAndQuery}");
                var request =  new global::System.Net.Http.HttpRequestMessage(OneFunction.Runtime.Method.Get, _url);
                await eventListener.Signal(OneFunction.Runtime.Events.RequestCreated, request.RequestUri.PathAndQuery); if( eventListener.Token.IsCancellationRequested ) { return null; }

                await eventListener.Signal(OneFunction.Runtime.Events.HeaderParametersAdded); if( eventListener.Token.IsCancellationRequested ) { return null; }
                // make the call
                return await this.OneGetGreetingWithResult_Call (request, eventListener,sender);
            }
        }

        /// <summary>Returns a greeting.</summary>
        /// <param name="name">Name to include in the greeting message.</param>
        /// <param name="eventListener">an <see cref="OneFunction.Runtime.IEventListener" /> instance that will receive events.</param>
        /// <param name="sender">an instance of an OneFunction.Runtime.ISendAsync pipeline to use to make the request.</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task<OneFunction.Models.IPathsPu2Mf5ApiOneGetResponses200ContentApplicationJsonSchema>"
        /// /> that will be complete when handling of the response is completed.
        /// </returns>
        public async global::System.Threading.Tasks.Task<OneFunction.Models.IPathsPu2Mf5ApiOneGetResponses200ContentApplicationJsonSchema> OneGetGreetingWithResult(string name, OneFunction.Runtime.IEventListener eventListener, OneFunction.Runtime.ISendAsync sender)
        {
            // Constant Parameters
            using( NoSynchronizationContext )
            {
                // construct URL
                var pathAndQuery = global::System.Text.RegularExpressions.Regex.Replace(
                        "/api/One"
                        + "?"
                        + (string.IsNullOrEmpty(name) ? global::System.String.Empty : "name=" + global::System.Uri.EscapeDataString(name))
                        ,"\\?&*$|&*$|(\\?)&+|(&)&+","$1$2");

                await eventListener.Signal(OneFunction.Runtime.Events.URLCreated, pathAndQuery); if( eventListener.Token.IsCancellationRequested ) { return null; }

                // generate request object
                var _url = new global::System.Uri($"https://ayanm.azurewebsites.net{pathAndQuery}");
                var request =  new global::System.Net.Http.HttpRequestMessage(OneFunction.Runtime.Method.Get, _url);
                await eventListener.Signal(OneFunction.Runtime.Events.RequestCreated, request.RequestUri.PathAndQuery); if( eventListener.Token.IsCancellationRequested ) { return null; }

                await eventListener.Signal(OneFunction.Runtime.Events.HeaderParametersAdded); if( eventListener.Token.IsCancellationRequested ) { return null; }
                // make the call
                return await this.OneGetGreetingWithResult_Call (request, eventListener,sender);
            }
        }

        /// <summary>Actual wire call for <see cref= "OneGetGreetingWithResult" /> method.</summary>
        /// <param name="request">the prepared HttpRequestMessage to send.</param>
        /// <param name="eventListener">an <see cref="OneFunction.Runtime.IEventListener" /> instance that will receive events.</param>
        /// <param name="sender">an instance of an OneFunction.Runtime.ISendAsync pipeline to use to make the request.</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task<OneFunction.Models.IPathsPu2Mf5ApiOneGetResponses200ContentApplicationJsonSchema>"
        /// /> that will be complete when handling of the response is completed.
        /// </returns>
        internal async global::System.Threading.Tasks.Task<OneFunction.Models.IPathsPu2Mf5ApiOneGetResponses200ContentApplicationJsonSchema> OneGetGreetingWithResult_Call(global::System.Net.Http.HttpRequestMessage request, OneFunction.Runtime.IEventListener eventListener, OneFunction.Runtime.ISendAsync sender)
        {
            using( NoSynchronizationContext )
            {
                global::System.Net.Http.HttpResponseMessage _response = null;
                try
                {
                    var sendTask = sender.SendAsync(request, eventListener);
                    await eventListener.Signal(OneFunction.Runtime.Events.BeforeCall, request); if( eventListener.Token.IsCancellationRequested ) { return null; }
                    _response = await sendTask;
                    await eventListener.Signal(OneFunction.Runtime.Events.ResponseCreated, _response); if( eventListener.Token.IsCancellationRequested ) { return null; }
                    await eventListener.Signal(OneFunction.Runtime.Events.Progress, "intentional placeholder", 100); if( eventListener.Token.IsCancellationRequested ) { return null; }
                    var _contentType = _response.Content.Headers.ContentType?.MediaType;

                    switch ( _response.StatusCode )
                    {
                        case global::System.Net.HttpStatusCode.OK:
                        {
                            await eventListener.Signal(OneFunction.Runtime.Events.BeforeResponseDispatch, _response); if( eventListener.Token.IsCancellationRequested ) { return null; }
                            var _result = _response.Content.ReadAsStringAsync().ContinueWith( body => OneFunction.Models.PathsPu2Mf5ApiOneGetResponses200ContentApplicationJsonSchema.FromJson(OneFunction.Runtime.Json.JsonNode.Parse(body.Result)) );
                            return await _result;
                        }
                        default:
                        {
                            throw new OneFunction.Runtime.UndeclaredResponseException(_response);
                        }
                    }
                }
                finally
                {
                    // finally statements
                    await eventListener.Signal(OneFunction.Runtime.Events.Finally, request, _response);
                    _response?.Dispose();
                    request?.Dispose();
                }
            }
        }

        /// <summary>Actual wire call for <see cref= "OneGetGreeting" /> method.</summary>
        /// <param name="request">the prepared HttpRequestMessage to send.</param>
        /// <param name="onOk">a delegate that is called when the remote service returns 200 (OK).</param>
        /// <param name="eventListener">an <see cref="OneFunction.Runtime.IEventListener" /> instance that will receive events.</param>
        /// <param name="sender">an instance of an OneFunction.Runtime.ISendAsync pipeline to use to make the request.</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the response is completed.
        /// </returns>
        internal async global::System.Threading.Tasks.Task OneGetGreeting_Call(global::System.Net.Http.HttpRequestMessage request, global::System.Func<global::System.Net.Http.HttpResponseMessage, global::System.Threading.Tasks.Task<OneFunction.Models.IPathsPu2Mf5ApiOneGetResponses200ContentApplicationJsonSchema>, global::System.Threading.Tasks.Task> onOk, OneFunction.Runtime.IEventListener eventListener, OneFunction.Runtime.ISendAsync sender)
        {
            using( NoSynchronizationContext )
            {
                global::System.Net.Http.HttpResponseMessage _response = null;
                try
                {
                    var sendTask = sender.SendAsync(request, eventListener);
                    await eventListener.Signal(OneFunction.Runtime.Events.BeforeCall, request); if( eventListener.Token.IsCancellationRequested ) { return; }
                    _response = await sendTask;
                    await eventListener.Signal(OneFunction.Runtime.Events.ResponseCreated, _response); if( eventListener.Token.IsCancellationRequested ) { return; }
                    await eventListener.Signal(OneFunction.Runtime.Events.Progress, "intentional placeholder", 100); if( eventListener.Token.IsCancellationRequested ) { return; }
                    var _contentType = _response.Content.Headers.ContentType?.MediaType;

                    switch ( _response.StatusCode )
                    {
                        case global::System.Net.HttpStatusCode.OK:
                        {
                            await eventListener.Signal(OneFunction.Runtime.Events.BeforeResponseDispatch, _response); if( eventListener.Token.IsCancellationRequested ) { return; }
                            await onOk(_response,_response.Content.ReadAsStringAsync().ContinueWith( body => OneFunction.Models.PathsPu2Mf5ApiOneGetResponses200ContentApplicationJsonSchema.FromJson(OneFunction.Runtime.Json.JsonNode.Parse(body.Result)) ));
                            break;
                        }
                        default:
                        {
                            throw new OneFunction.Runtime.UndeclaredResponseException(_response);
                        }
                    }
                }
                finally
                {
                    // finally statements
                    await eventListener.Signal(OneFunction.Runtime.Events.Finally, request, _response);
                    _response?.Dispose();
                    request?.Dispose();
                }
            }
        }

        /// <summary>
        /// Validation method for <see cref="OneGetGreeting" /> method. Call this like the actual call, but you will get validation
        /// events back.
        /// </summary>
        /// <param name="name">Name to include in the greeting message.</param>
        /// <param name="eventListener">an <see cref="OneFunction.Runtime.IEventListener" /> instance that will receive events.</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the response is completed.
        /// </returns>
        internal async global::System.Threading.Tasks.Task OneGetGreeting_Validate(string name, OneFunction.Runtime.IEventListener eventListener)
        {
            using( NoSynchronizationContext )
            {
                await eventListener.AssertNotNull(nameof(name),name);
            }
        }
    }
}