name: Deploy Powershell project to Azure Function App - AyanM
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 6.0

      - name: Publish function app
        run: dotnet publish -c Release -o ./publish

      - name: Deploy function app
        uses: azure/webapps-deploy@v2
        with:
          app-name: AyanM
          slot-name: production
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}