name: Deploy Powershell project to Azure Function App - AyanM
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: 'Run Azure Functions Action'
        uses: Azure/functions-action@v1.5.2
        id: fa
        with:
          app-name: 'AyanM'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_367F8F2A641A48449E9A9DDA9C57714C }}